header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    > img {
        width: 10rem;
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
    > nav {
        > ul {
            display: flex;
            > li {
                padding: 0 20px;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
}
