#ej1P2Resultado,
#ej2P2Resultado, #ej4P2Resultado, #ej6P2Resultado {
    display: flex;
    max-width: 360px;
    overflow-x: scroll;
    > p {
        margin: 10px;
        padding: 10px;
        background-color: rgb(35, 58, 121);
        border-radius: 5px;
    }
}
#ej5P2Resultado {
    display: flex;
    justify-content: center;
}