/* Reset de estilos basado en Normalize.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  font-family: Arial, sans-serif;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Mixins reutilizables */
/* Variables de colores y fuentes */
.button-6 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  text-transform: uppercase;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

/* Header */
header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header > img {
  width: 10rem;
}
header > nav > ul {
  display: flex;
}
header > nav > ul > li {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.titulo {
  justify-content: space-around;
  display: flex;
  background-color: blue;
  padding: 20px;
  text-transform: uppercase;
  font-size: 20px;
  flex-direction: row;
  color: white;
}

.titulo1 {
  padding-top: 68px;
}

/* Grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas fijas */
  grid-template-rows: repeat(2, 1fr); /* 2 filas de 100px */
  gap: 16px;
  max-width: 90%; /* opcional, para que no sea tan grande en pantallas grandes */
  margin: auto;
  padding-top: 20px;
  margin-bottom: 40px;
}

.cuadro {
  background-color: #3498db;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 3px;
  height: auto;
}

/* Cuadros */
.cuadro1 {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: 600px;
  width: 100%;
  justify-content: space-between;
  font-size: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cuadro1 > h3 {
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(35, 58, 121);
  color: white;
}
.cuadro1 > p {
  font-size: bolder;
  padding: 20px;
}
.cuadro1 > div {
  padding: 10px;
}
.cuadro1 > div > input {
  width: 100%;
}

/* resultados */
#ej1P2Resultado,
#ej2P2Resultado, #ej4P2Resultado {
  display: flex;
  max-width: 360px;
  overflow-x: scroll;
}
#ej1P2Resultado > p,
#ej2P2Resultado > p, #ej4P2Resultado > p {
  margin: 10px;
  padding: 10px;
  background-color: rgb(35, 58, 121);
  border-radius: 5px;
}

/*# sourceMappingURL=styles.css.map */
