/* Reset de estilos basado en Normalize.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px; // Base para rem
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-family: Arial, sans-serif;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    display: block;
}

button,
input,
textarea,
select {
    font: inherit;
    border: none;
    outline: none;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
